@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f2f2f2;
    max-height: 100vh;
}

.button__text {
    @apply text-white hover:bg-white hover:text-black px-2 py-[2px] rounded-sm
}

/* SideBar.css */  
.sidebar-container {  
    position: fixed;  
    top: 0;  
    left: 0;  
    width: 60%; /* Adjust width as needed */  
    height: 100%;  
    background: linear-gradient(to right, #e0f7fa, #ffffff); /* Light gradient */  
    border-radius: 10px 10px 0 0; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);  
    transform: translateX(-100%); /* Start off-screen */  
    transition: transform 0.3s ease-in-out; /* Transition for sliding effect */  
    z-index: 100; /* Ensure it is above other content */  
  }  
  
  .sidebar-container.open {  
    transform: translateX(0); /* Slide in */  
  }  
  
  .backdrop {  
    position: fixed;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    background-color: rgba(0, 0, 0, 0.5);  
    z-index: 90; /* Below the sidebar */  
  } 